/* HEADER */

.cart-header {
  background: #ece1d8;
  min-height: 90px;
  margin-bottom: 0;
}

.cart-header h2 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}

/* PRODUCT */

.cart-item {
  border-bottom: 1px solid #d8bea1;
  padding: 0;
}

.product-info {
  display: flex;
  gap: 20px;
  align-items: center;
}

.product-info img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.product-info p {
  font-size: 20px;
  max-width: 500px;
}

.quantity,
.price {
  font-size: 25px;
}

.action-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;

  font-size: 2rem;
}

.action-box span {
  font-size: 2rem;
}

.action-box i {
  cursor: pointer;
}

/* CHECKBOX */

input[type="checkbox"] {
  width: 30px;
  height: 30px;
}

/* TOTAL */

.checkout-box {
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.total {
  display: flex;
  align-items: center;
  gap: 15px;
}

.total input {
  width: 350px;
  height: 70px;

  border: 1px solid #000;
  border-radius: 8px;

  background: #ece1d8;
}

.checkout-btn {
  width: 280px;
  height: 70px;

  border: none;
  border-radius: 8px;

  background: #f0cc10;
}
